# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
.venv/
pip-log.txt
*.egg-info/
dist/
build/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Entorno local
.env

# Excel outputs
output/
*.xlsx

# OS
.DS_Store
Thumbs.db